[core]
    editor = emacs
	excludesfile = ~/.gitignore

# Please, specify this variables in ~/.gitconfig-local
# it is included in the end of this file
# Note: include section work for git > 1.8
# [user]
#     name = Vasily Pupkin
#     email = pupkin@vasya.iam


[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    wtf = !git-wtf
    permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[branch]
    autosetupmerge = true
    
[merge]
    # Include handwritten branch description, if it is
    # associated with merged branch.
    #
    # Add these descriptions with git branch --edit-description
    branchdesc = true

[push]
    default = tracking

[include]
    path = ~/.gitconfig-local
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[url "git@github.com:"]
    insteadOf = gh:
    